<%- include (partial) %>
<!--Main layout-->
<main style="margin-top: 58px">
  <div class="container-fluid card pt-4" style="margin-right: 150px;">
    <ul class="nav nav-pills">
      <% if (findUser.staffclass !== "user") { %>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/settings">Users</a>
        </li>
      <% } %>
      <% if (findUser.staffclass === "admin") { %>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
      <% } %>
      <li class="nav-item">
        <a class="nav-link active" href="/profile">Profile</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </li> -->
    </ul>
    <hr>
  <div class="pt-4 p-5 mt-1 ms-2 me-5 text-center">
<div class="mb-4 fa  fa-6x img-fluid rounded-circle mb-4"><image src="/images/profilesvg.png" style="height:60px;"></image>
<!-- 
      <img
        src="path_to_profile_picture"
        alt="Profile Picture"
        class="img-fluid rounded-circle"
        style="width: 150px; height: 150px;"
      /> -->
    </div>
    <form action="/register" method="post">
      <div class="row mb-4">
    <div class="col-md-6 mb-4">
          <div class="form-outline">
            <input
              type="text"
              id="form6Example1"
              class="form-control"
              name="fName"
              value="<%= findUser.fName %>"
              disabled
            />
            <label class="form-label" for="form6Example1">First name</label>
          </div>
        </div>
    <div class="col-md-6 mb-4">
          <div class="form-outline">
            <input
              type="text"
              id="form6Example2"
              class="form-control"
              name="lName"
              value="<%= findUser.lName %> "
              disabled
            />
            <label class="form-label" for="form6Example2">Last name</label>
          </div>
        </div>
      </div>
  <div class="row ">
        <div class="col-md-6 mb-4 ">
          <div class="form-outline">
            <input
              type="text"
              id="form6Example1"
              class="form-control"
              name="email"
              value="<%= findUser.email %>"
              disabled
            />
            <label class="form-label" for="form6Example1">Email</label>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="form-outline">
            <input
              type="text"
              id="form6Example2"
              class="form-control"
              name="contact"
              value="<%= findUser.contact %>"
              disabled
            />
            <label class="form-label" for="form6Example2">Contact</label>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6 mt-4 ">
          <div class="form-outline">
            <input
              type="text"
              id="form6Example1"
              class="form-control"
              name="digitalAddress"
              value=""
            />
            <label class="form-label" for="form6Example1"
              >Digital Address</label
            >
          </div>
        </div>
        <div class="col-md-6 mt-4 mb-4">
          <div class="form-outline">
            <input
              type="text"
              id="form6Example2"
              class="form-control"
              name="Address"
              value=""
            />
            <label class="form-label" for="form6Example2"
              >Residential Address</label
            >
          </div>
        </div>
      </div>

      <!-- Username input -->
      <!-- <div class="form-outline  mb-4">
        <input type="text" id="ID" name="ID" class="form-control" value="" />
        <label class="form-label" for="ID">Ghana Card</label>
      </div> -->

      <!-- Submit button -->
    </form>
  </div>
</main>
<!--Main layout-->
<%- include('partials/footer.ejs') %>
